.sum-calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 20px;
  }
  
  .sum-calculator input[type="number"] {
    width: 60px;
    font-size: 24px;
    text-align: center;
  }
  
  .sum-calculator span {
    margin: 0 10px;
    font-size: 24px;
  }
  
  .sum-calculator p {
    color: red;
    font-size: 24px;
  }

  
  /* ここからは、ファイルのエクスポート */
export default styles;
